:root{
    /*colores*/

    /*header layout*/
    --header-width:100%;
    --header-height:70px;


}

*,*::before,*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*@media screen and (min-width:360px) and (orientation: landscape) */
@media screen and (min-width:360px) 
{
    /*header*/
    .header{
        width: var(--header-width);
        height: var(--header-height);
        border-bottom: 1px solid #333;
        
        background-color: #fff;
        position: static;
        z-index: 100;

    }
    .positionFixed
    {
        
        position: fixed;
    }

    .header-div{
        display: none;
    }
    .div-img-user{
        width: 70px;
        height: 70px;
        overflow: hidden;
        display: none;
    }
    .img-user{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: none;
    }
    .user-name{
        display: none;
    }


    /*Menu aside*/
    .menu-aside{
        width: 50%;
        height: 100%;
        margin: 0;
        position:absolute;
        background-color: #333;
        display: none;
       
    }
    .div-menu-aside{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-self: center;
        border-bottom: 1px solid #eee;
    

        
    }
    .img-user-aside{
        margin-top: 10px;
        width:170px;
        height: 170px;
        margin-top: 25;
        border-radius: 50%;
        
      
    }
    .name{
        margin-top: 8px;
        padding-left: 5px;
        font-size: 1.5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #eee;
    }

    .aside-menu{
        margin-top: 1rem;
    }
    .aside-menu-list{
        list-style: none;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: .5rem;
    }
    .aside-menu-link{
        text-decoration: none;
        color:#eee;
        font-size: 1rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }

    .aside-menu-list:hover{
        background-color: #555;
        
    }
    
    /*menu haburguesa*/
    .toggle-menu{
        cursor: pointer;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
        position: relative;
        top: 10px;
        
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        transition: 0.4s;
    }

    .change .bar1 {
        background-color: #eee;
        -webkit-transform: rotate(-45deg) translate(-15px, 10px);
        transform: rotate(-45deg) translate(-15px, 10px);
        
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        background-color: #eee;
        -webkit-transform: rotate(45deg) translate(-10px, -6px);
        transform: rotate(45deg) translate(-10px, -6px);
    }
    

    /*nav*/
    .nav{
        width: 100%;
        height: 300px;

    }

    .arrow-left , .arrow-right{
        content:'';
        width: 50px;
        height: 50px;

        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 1rem;
        z-index: 1;
    
    }

    .arrow-left{
        position: relative;
        top:125px;
        left: 2%;
        transform: rotate(140deg);
        
    }

    .arrow-left:hover{
        border: solid #fff;
        border-width: 0 5px 5px 0;
        
    }

    .arrow-right{
        position: relative;
        left: 75%;
        
        top:125px;
        transform: rotate(-50deg);
    }

    .arrow-right:hover{
        border: solid #fff;
        border-width: 0 5px 5px 0;
    }

    .transition{
        transition: all .5s 2s;
    }


    /*Informacion*/
    .section{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 20px;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        background-color: hsla(0, 0%, 98%, 1);
        

    }
    .article{
        width: 100%;
        height: max-content;
        padding-left: 10px;
    }

    .subtitulo{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 10px;
        color: #111;
    }

    .informacion{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.5;
        padding-bottom: 10px;
        color: #333;
    }

    .menu-conocimiento{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left: 20px;

    }

    .menu-conocimiento-list{
        list-style:square;
        line-height: 1.5;
        color: #333;
    }

    .menu-conocimiento .menu-conocimiento{
        padding-left: 50px;
    }

    .tec-img
    {
        width: 400px;
        height: 400px;
    }


    /*Footer*/
    .footer{
        width: 100%;
        height: 500px;
        background-color: #333;
        color: #ddd;
        display: flex;

        flex-direction: column;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.5;
        

    }
    
    .footer-div-info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 15px;


    }

    .footer-div-icon{
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }
    .icon{
        padding: 10px;
        cursor: pointer;
        margin-right: 40px;
    }
    .correo{
        margin-top: 5px;
        margin-bottom: 5px;
    }
 

    .copy{
        margin-top: 65px;
        display: none;
    }
    
    .copy-600{
        display: block;
    }




}

@media screen and (min-width:600px) {
    .header{
        width: var(--header-width);
        height: var(--header-height);
        border-bottom: 1px solid #333;
        background-color: #fff;
        position: static;
        z-index: 100;

    }
    .positionFixed
    {
        
        position: fixed;
    }

    .header-div{
        display: none;
    }
    .div-img-user{
        width: 100%;
        height: 100%;
    }
    .div-img-user img{
    
        border-radius: 50%;
    }

    /*Menu lateral*/
    .menu-aside{
        display: none;
    }

    /*menu haburguesa*/
    .toggle-menu{
        cursor: pointer;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 15px;
        position: relative;
        top: 10px;
      
        
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        transition: 0.4s;
    }

    .change .bar1 {
        background-color: #eee;
        -webkit-transform: rotate(-45deg) translate(-15px, 10px);
        transform: rotate(-45deg) translate(-15px, 10px);
        
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        background-color: #eee;
        -webkit-transform: rotate(45deg) translate(-10px, -6px);
        transform: rotate(45deg) translate(-10px, -6px);
    }


    /*nav*/
    .nav{
        width: 100%;
        height: 400px;

    }

    .arrow-left , .arrow-right{
        content:'';
        width: 50px;
        height: 50px;

        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 1rem;
        z-index: 1;
    }

    

    .arrow-left{
        position: relative;
        top:150px;
        left: 2%;
        transform: rotate(140deg);
        
    }

    .arrow-left:hover{
        border: solid #fff;
        border-width: 0 5px 5px 0;
        
    }

    .arrow-right{
        position: relative;
        left: 86%;
        
        top:150px;
        transform: rotate(-50deg);
    }

    .arrow-right:hover{
        border: solid #fff;
        border-width: 0 5px 5px 0;
    }

    .transition{
        transition: all .5s 2s;
    }

    /*Informacion*/
    .section{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 0;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        background-color: hsla(0, 0%, 98%, 1);

    }
    .article{
        width: 100%;
        height: max-content;
        padding-left: 10px;
    }

    .subtitulo{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 10px;
        color: #111;
    }

    .informacion{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.5;
        padding-bottom: 10px;
        color: #333;
    }

    .menu-conocimiento{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-left: 20px;

    }

    .menu-conocimiento-list{
        list-style:square;
        line-height: 1.5;
        color: #333;
    }

    .menu-conocimiento .menu-conocimiento{
        padding-left: 50px;
    }

    .tec-img
    {
        width: 550px;
        height: 550px;
    }



    /*Footer*/
    .footer{
        width: 100%;
        height: 500px;
        background-color: #333;
        color: #ddd;
        display: flex;
        flex-direction: column;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.5;

    }
    
    .footer-div-info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-top: 15px;


    }

    .footer-div-icon{
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-top: 15px;
    }
    .icon{
        padding: 10px;
        cursor: pointer;
        margin-right: 40px;
    }
    .correo{
        margin-top: 5px;
        margin-bottom: 10px;
    }
 

    .copy{
        margin-top: 65px;
        display: none;
    }
    
    .copy-600{
        display: block;
        
    }



}








@media screen and (min-width:1200px) {
    
    
    .header{
        width: var(--header-width);
        height: var(--header-height);
        border-bottom: 1px solid #333;
        background-color: #fff;
        position: static;
        z-index: 100;
        

    }



    .positionFixed
    {
        
        position: fixed;
    }



    .header-div{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .div-img-user{
        width: 70px;
        height: 70px;
        overflow: hidden;
        display: block;
        margin-left: 25px;
        
    }
    .img-user{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: block;
    }
    .user-name{
        display: block;
        margin-right: 40%;
        margin-top: 15px;
        font-size: 1.6rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

   


    /*menu header*/
    .menu{
        width: max-content;
        height: 70px;
        margin-right: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-list{
        list-style: none;
        padding: 1.5rem;
    }

    

    .menu-link:hover {
       text-decoration-line: underline;
       text-decoration-style: double;
       text-decoration-color: #333;

    }

    .menu-link{
        text-decoration: none;
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #333;
    }

    

    /*menu haburguesa*/
    .toggle-menu{
        cursor: pointer;
        display: none;
    }

      /*Menu lateral*/
    .menu-aside{
        visibility: hidden;
    }

    /*nav*/
    .nav{
        width: 100%;
        height: 400px;
    }

    .arrow-left , .arrow-right{
        content:'';
        width: 50px;
        height: 50px;

        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 1rem;
        z-index: 1;
    }

    

    .arrow-left{
        position: relative;
        top:150px;
        left: 2%;
        transform: rotate(140deg);
    }

    .arrow-left:hover{
        border: solid #fff;
        border-width: 0 5px 5px 0;
        
    }

    .arrow-right{
        position: relative;
        left: 90%;
        top:150px;
        transform: rotate(-50deg);
    }

    .arrow-right:hover{
        border: solid #fff;
        border-width: 0 5px 5px 0;
    }
    .transition{
        transition: all .5s 2s;
    }

    /*Informacion*/
    .section{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 330px;
        max-height: max-content;
        justify-content: space-between;
        margin-top: 0;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        background-color: hsla(0, 0%, 98%, 1);

    }
    .article{
        width: 50%;
        height: max-content;
        padding-left: 40px;
    }

    .subtitulo{
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-bottom: 10px;
        color: #111;
    }

    .informacion{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.5;
        padding-bottom: 10px;
        color: #333;
    }

    .menu-conocimiento{
        font-size: 18px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .menu-conocimiento-list{
        list-style:square;
        line-height: 1.5;
        color: #333;
    }

    .menu-conocimiento .menu-conocimiento{
        padding-left: 50px;
    }
    
    .tec-img
    {
        width: 550px;
        height: 550px;
    }
    
    /*Footer*/
    .footer{
        width: 100%;
        height: max-content;
        background-color: #333;
        color: #ddd;

        display: flex;
        flex-direction: row;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: 1.5;

    }
    
    .footer-div-info{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        padding-top: 15px;


    }

    .footer-div-icon{
        width: 50%;
        height: 100%;
        padding-left: 15px;
        padding-top: 15px;
    }
    .icon{
        padding: 10px;
        cursor: pointer;
        margin-right: 40px;
    }
    .correo{
        margin-top: 5px;
        margin-bottom: 10px;
    }
 

    .copy{
        margin-top: 65px;
        display: block;
    }

    .copy-600{
        display: none;
    }

   
    
}